@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=M+PLUS+Rounded+1c:wght@400;700&display=swap');


:root {
  --type1-main-color: #f78e1e;
  --type1-base-color: #ffffff;
  /* 11aki2358上のリンク */
  --type1-link-color1: var(--type1-main-color);
}

html {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 7rem auto 4rem;
  grid-template-columns: 100%;
  grid-auto-flow: column;
}


/* Header.js */


body header {
  grid-row: 1 /3;
  grid-column: 1/1;
  width: 100vw;
  position: fixed;
  height: 6.5rem;
  z-index: 10;
  background-color: var(--type1-base-color);
  /* background-color: antiquewhite; */

  max-width: 1000px;
  padding-left: 1rem;
}

h1 {
  height: 4.5rem;
  line-height: 3.5rem;

  margin-top: 0;
  margin-bottom: 0rem;
  transform: scale(1, 1.2);
  /* background-color: black; */
}

h1 a {
  color: var(--type1-link-color1);
  font-family: 'Kanit', sans-serif;
}

header nav {
  height: 1.5rem;
  line-height: 1rem;

  display: flex;
  /* padding-right: 2rem; */
  width: 90vw;
  max-width: 1000px;
}

header nav ul {
  margin-left: auto;
  width: fit-content;
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

header * li {
  display: inline;
}

header * li a {
  padding-right: 1em;
  margin-left: 1rem;
  padding-left: 1rem;
  color: black;
  border-bottom: black solid 2px;
  border-right: black dashed 2px;
  padding-bottom: .2rem;
  padding-top: .2rem;
}

/* footer.js */

body footer {

  grid-row: 3/3;
  grid-column: 1/1;
  bottom: 0;
  height: 4rem;


  /* display: block; */
  /* position: fixed; */
  background-color: black;
  /* width: 100%; */
  padding-left: 1rem;
  right: 0;
  left: 0;
  padding-right: 1rem;
  color: #ffffff;
}

footer ul li {
  display: inline;
  padding-left: .5rem;
  margin-right: 2rem;
  border-left: #f78e1e solid 2px;
  /* background-color: #f78e1e; */
}

footer ul li a {
  font-weight: bold;
  display: inline;
  color: white;
}

/* 一般 */


.main {
  grid-row: 2/3;
  grid-column: 1/1;
  width: 90%;
  margin: auto;
  height: 100%;
  padding-bottom: 4rem;
}

a {
  text-decoration: none;
}

.article .date_box,
.singleArticle .date_box {
  display: flex;
}

.article .date,
.singleArticle .date {
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  font-size: smaller;
}


.article .link_toSingle,
.singleArticle .link_toAll {
  display: flex;
}

.article .link_toSingle a,
.singleArticle .link_toAll a {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: var(--type1-main-color);
  margin-top: 1rem;
}


.article a,
.singleArticle a {
  color: var(--type1-main-color);
  font-weight: bold;
}

/* いちらんページ */


.main p,
.article {
  /* background-color: antiquewhite; */
  margin: 1.5rem;
  margin-left: 0;
  padding-left: 1rem;
  border-left: black solid 2px;
  background-color: #fff;
}


.article h2,
.singleArticle h2 {
  display: block;
  border-bottom: black dotted 2px;
  margin-bottom: .2rem;
}

.article h2 a {
  display: block;
  color: var(--type1-main-color);
  width: fit-content;
}

.article .content {
  padding-left: 0rem;
  /* background-color: violet; */
}

.article .content p {
  margin-bottom: 0.5rem;
}


/* readSingle */

.singleArticle {
  /* margin: 1.5rem; */
  padding: 1.5rem;
  background-color: #fff;
}

.singleArticle a {
  color: var(--type1-main-color);
}

.forOwner {
  display: flex;
}

.forOwner div {
  display: inline-block;
  padding-left: 1rem;
  margin-left: auto;
}

.forOwner div a {
  margin-left: 1rem;
  color: black;
  font-weight: bold;
}

/* 投稿/編集 */

.input_title h3,
.input_main h3 {
  margin-bottom: .2rem;
}

.input_title input,
.input_main textarea {
  width: 90%;

}

.insertAlink {
  display: flex;
  margin: .2rem;
  width: 90%;
}

.insertAlink div {
  width: max-content;
  margin-left: auto;
  padding: .2rem;
  border: black solid;
}

.insertAlink:hover {
  cursor: pointer;
}

.post_button {
  padding: .2rem .5rem;
  background-color: var(--type1-main-color);
  border: black solid;
  font-weight: bold;
}

.post_button:hover {
  cursor: pointer;
}


.delete_button {
  padding: .2rem .5rem;
  background-color: black;
  border: black solid;
  font-weight: bold;
  color: white;
}

.post_button:hover {
  cursor: pointer;
}

.main_back {
  z-index: -10;
  background-color: #f78e1e;
  /* width: 100vw; */
  /* height: 5rem; */
  position: fixed;
  right: 0;
  left: 0;
  top: 6rem;
  bottom: 0;

  /* background-color: black;
  background-image: linear-gradient(0deg, #fff 50%, transparent 50%);
  background-size: 5vh 5vh; */

  background: /* 1 */
		var(--pattern, 
			radial-gradient(closest-side, #777, #fff) 
				0/ 1em 1em space), 
		var(--map, 
			linear-gradient(0deg, #888, #fff));
	background-blend-mode: multiply /* 2 */;
	filter: contrast(21) /* 3 */
}