@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Teko:wght@600&family=M+PLUS+Rounded+1c:wght@400;700&display=swap');



:root {
  --type1-main-color: #f78e1e;
  --type1-base-color: #ffffff;
  /* 11aki2358上のリンク */
  --type1-link-color1: var(--type1-main-color);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
}

/* Header.js */

header {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: antiquewhite;
}

h1 {
  margin-top: 0;
  margin-bottom: 0rem;
  transform: scale(1, 1.2);
  /* background-color: black; */
}

h1 a {
  color: var(--type1-link-color1);
  font-family: 'Kanit', sans-serif;
}

header nav {
  display: flex;
  /* background-color: #f78e1e; */
}

header nav ul {
  margin-left: auto;
}

header * li {
  display: inline;
}

header * li a {
  padding: 0.3rem 1.7rem;
  margin-left: 1rem;
  color: black;
  border-bottom: black solid 2px;
  border-right: black dashed 2px;
}

/* footer.js */

footer {
  display: block;
  position: fixed;
  bottom: 0;
  height: max-content;
  background-color: black;
  width: 100vw;
  color: #ffffff;
}


footer ul li a {
  display: inline;
  color: white;
}

/* 一般 */

a {
  text-decoration: none;
}



/* 日付 */

.grid-container-in div .date {
  margin: .5rem;
  font-size: smaller;
}

div .date {
  margin: .5rem;
  font-size: medium;
}