@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=M+PLUS+Rounded+1c:wght@400;700&display=swap');


:root {
  --type1-main-color: #f78e1e;
  --type1-base-color: #ffffff;
  /* 11aki2358上のリンク */
  --type1-link-color1: var(--type1-main-color);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Header.js */

header {
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-color: antiquewhite; */
}

h1 {
  margin-top: 0;
  margin-bottom: 0rem;
  transform: scale(1, 1.2);
  /* background-color: black; */
}

h1 a {
  color: var(--type1-link-color1);
  font-family: 'Kanit', sans-serif;
}

header nav {
  display: flex;
  /* background-color: #f78e1e; */
}

header nav ul {
  margin-left: auto;
}

header * li {
  display: inline;
}

header * li a {
  padding: 0.3rem 1.7rem;
  margin-left: 1rem;
  color: black;
  border-bottom: black solid 2px;
  border-right: black dashed 2px;
}

/* footer.js */

footer {
  display: block;
  position: fixed;
  bottom: 0;
  height: 4rem;
  background-color: black;
  /* width: 100%; */
  padding-left: 1rem;
  right: 0;
  left: 0;
  padding-right: 1rem;
  color: #ffffff;
}

footer ul li {
  display: inline;
  padding-left: .5rem;
  margin-right: 2rem;
  border-left: #f78e1e solid 2px;
  /* background-color: #f78e1e; */
}

footer ul li a {
  font-weight: bold;
  display: inline;
  color: white;
}

/* 一般 */

.main {
  padding-bottom: 6rem;
}

a {
  text-decoration: none;
}

.article .date_box,
.singleArticle .date_box {
  display: flex;
}

.article .date,
.singleArticle .date {
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  font-size: smaller;
}


.article .link_toSingle,
.singleArticle .link_toAll {
  display: flex;
}

.article .link_toSingle a,
.singleArticle .link_toAll a {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: var(--type1-main-color);
}

/* いちらんページ */


.article {
  /* background-color: antiquewhite; */
  margin: 1.5rem;
  padding-left: 1rem;
  border-left: black solid 2px;
}

.article h2,
.singleArticle h2 {
  display: block;
  border-bottom: black dotted 2px;
  margin-bottom: .2rem;
}

.article h2 a {
  display: block;
  color: var(--type1-main-color);
  width: fit-content;
}

.article .content {
  padding-left: 0rem;
  /* background-color: violet; */
}

.article .content p {
  margin-bottom: 0.5rem;
}


/* readSingle */

.singleArticle {
  margin: 1.5rem;
}

.forOwner {
  display: flex;
}

.forOwner div {
  display: inline-block;
  padding-left: 1rem;
  margin-left: auto;
}

.forOwner div a {
  margin-left: 1rem;
  color: black;
  font-weight: bold;
}